<h1>退会手続き</h1>



<h2>一度退会される場合、お客様ならびに過去にご購入いただいた商品の履歴が抹消されます。</h2>
<h2>本当に退会しますか？</h2>


<%= image_tag '/assets/kazukihiro512066_TP_V.jpg', :size => "30×30" %>

<br>
<br>

<%= link_to '退会する', "/customers/#{@customer.id}", method: :delete, class: "btn btn-info btn-lg" %>

