<h1>マイページ</h1>

<h2>購入履歴</h2>
<p>購入履歴の確認</p>

<h2>登録情報</h2>
<p>名前　<%= @customer.name %></p>
<p>住所　<%= @customer.address %></p>
<p>電話番号　<%= @customer.telephone %></p>

<p>会員情報の変更</p>
<p>お届け先住所一覧</p>

<h2>クレジット情報</h2>
<p>下４桁:xxxx</p>
<%= link_to '登録・編集する', edit_customer_path(@customer) %>