// Place all the styles related to the public/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.td{
    text-align: center;
    margin: center;
}
.form {
    margin-right: 30px;
}
.cartitem {
    font-weight:  bold;
}
.pq {
    float: auto;
}
.label label-default {
    color: white;
}
.a {
    text-align: center;
}
span.btn-default {
    margin: 20px 10px 20px 60px;
}
a.btn-danger {
    margin: 20px 10px 20px 20px;
}
span {
    margin-bottom: 80px;
}