// Place all the styles related to the public/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div {
    text-align: center;
}
.td{
    text-align: center;
}

.pq {
    float: auto;
}
.label label-default {
    color: white;
}