// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: Meiryo, Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h2{
	color:red;
}

.form-row{
	background-color: red;
}