// Place all the styles related to the public/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.titel{
     text-align: center;
}


.main-visual-complete{
	width:980px;
     margin: 0 auto;
      text-align: center;
      width: 90%;
	   height:450px;
       background-image: url(publicdomainq-0023741zmr.jpg);
       background-size:cover;
	   background-position: center;

}


.sideber{
	width: 100%;
}


.main-text{
    text-align: center;
    padding-top:50px;
    padding-bottom:30px;
	font-size: 40px;

}



.main-text2{
    text-align: center;
	font-size: 40px;
	padding-top:20px;
}

.list-bar{
	width: 90%;
	height:650px;
	margin: 0 auto;
}




.link-content{
    margin: 0 auto;
}

.text-success{
text-align: center;
padding-bottom:50px;

}

.product_font{
	font-size:30px;
}


.product_name{
	font-size:25px;
}


.create_day{
	font-size:25px;
}

.order_day{
	font-size: 15px;
}



.delivery_status{
	font-size: 15px;
}

.small_titel{
font-size: 25px;
}

.small_titel-2{
font-size: 20px;
}

.genre_font{
font-size: 15px;
}

.price_font{
font-size: 20px;
color: orange;
}

.count_font{
	font-size: 20px;
}
