<%= render 'sidebar'%>
<div class="col-lg-8">
	<h1>全ての注文一覧</h1>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>注文日</th>
				<th>数量</th>
				<th>合計金額</th>
				<th>入荷個数</th>
				<th>購入者情報</th>
			</tr>
		</thead>
	<tbody>

			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
　　　　     </tr>
