<div class="col-lg-8">
	<h1>ショッピングカート</h1>

	<div class="col-lg-8">
	<table class="table table-hover">

		 <tr>
			 <th>タイトル</th>
			 <td><!-- o.product_name --></td>
	　　　</tr>
         <tr>
			 <th>タイトル</th>
			 <td><!-- o.product_name --></td>
			 <td>商品価格</td>
	　　　</tr>
　　　　　　　　<tr>
			 <th>アーティスト</th>
			 <td><!-- o.product_price --></td>
		 </tr>
　　　　   <tr>
			 <th>ジャンル</th>
			 <td><!-- o.product.arrival_count --></td>
		　</tr>
　　　　　　<tr>
			 <th>数量</th>
			 <td>削除</td>
		　</tr>
		<tr>
			 <th>数量を更新</th>
		　</tr>





     </tbody>
    </table>
</div>


</div>
