<div class="nested-fields ">
  <%= f.text_field :disc_number, autocomplete: 'off', :value => "Disc.1" %>
  <%= f.text_field :song_title, autocomplete: 'off', :placeholder => "入力してください" %><br>

  <%= link_to_remove_association 'トラックを削除', f %>
</div>


