<h1>購入履歴一覧画面</h1>

<div class="col-lg-8">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>注文日</th>
			</tr>
		</thead>
	<tbody>
		<tr>
			<td><!-- 購入日 --></td>
			<td><!-- 商品ステータス --></td>
			<td><!-- リンク　購入履歴詳細 --></td>
		</tr>
         <tr>
			 <th>タイトル</th>
			 <td><!-- <商品名> --></td>
	　　　</tr>
　　　　　　　　<tr>
			 <th>商品単価</th>
			 <td><!-- <金額> --></td>
		 </tr>
　　　　   <tr>
			 <th>商品個数</th>
			 <td><!-- <個数> --></td>
		　</tr>

</tbody>
    </table>



<%= render 'footer'%>










