<h1>注文確認画面</h1>

<h2>注文内容の確認</h2>


<div class="col-lg-10">
	<table class="table table-hover">
	<%# @ouders.each do |o| %>
		<thead>
			<tr>
				<th>注文一覧</th>
				<th>価格</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>商品画像</td>
				<td><%#=o.prodcut_name %></td>
				<td><%#=o.prodcut.price %></td>
				<td><%#=o.prodcut.artist.artist_name %></td>
				<td><%#=o.prodcut.genre.genre_name %></td>
	　　　　  </tr>
	   </tbody>
    </table>

<%= link_to 'カートに戻る',  cart_items_path ,class: "col-xs-7 btn btn-primary " %>
<table class="table table-hover">
	<thead>
		<tr>
	         <th>お届け先</th>
　　    </tr>
		<tr>
			 <th>郵便番号</th>
		     <td><%#= o.prodcut.cutomer.post_code %></td>
		</tr>
         <tr>
			 <th>都道府県</th>
			 <td><%#= o.prodcut.cutomer.prefecture %></td>
		 </tr>
		 <tr>
			 <th>住所</th>
			 <td><%#= o.prodcut.cutomer.address %></td>
		 </tr>
		 <tr>
			 <th>名前</th>
			 <td><%#= o.prodcut.cutomer.name %></td>
		 </tr>
		 <tr>
			 <th>電話番号</th>
			 <td><%#= o.prodcut.cutomer.telephone %></td>
		 </tr>
<%# end %>
	</table>
 <%#= link_to '購入画面に戻って変更する', new_product_path(product_id) ,class: "col-xs-7 btn btn-primary " %>
<%= render 'footer'%>