
<div class="container">
  <div class="row">
    <div class="col-xs-2">
    </div>
      <div class="col-xs-8">
	   <h1 class="text-success">ご注文完了</h1>
			<h2 class="main-text">お買い上げ<br>
			ありがとうございます!</h2>

			<div class="main-text2">ご注文を承りました.<br>
			発送の準備に取り掛からせていただきます<br>
				到着まで少々お待ちください</div>
			</div>

　             <tr>
			    <td><%= link_to '注文一覧', orders_path,class: "col-xs-6 btn btn-success " %></td>
                <td><%= link_to 'トップに戻る', root_path,class: "col-xs-6 btn btn-primary " %></td>
              </tr>
      </div>
      <div class="col-xs-2"></div>
   </div>
</div>
