<h1>購入履歴詳細</h1>

<table class="table table-hover">
		<tr>
	         <th>注文日時</th>
	         <td></td>
　　    </tr>
		<tr>
			 <th>注文状況</th>
		     <td>< ></td>
		</tr>
         <tr>
			 <th>お届け先住所</th>
		 </tr>
		 <tr>
			 <th>住所</th>
			 <td>< ></td>
		 </tr>
		 <tr>
			 <th>名前</th>
			 <td>< ></td>
		 </tr>
		 <tr>
			 <th>電話番号</th>
			 <td>< ></td>
		 </tr>
</table>
　　<table class="table table-hover">
		<thead>
			<tr>
				<th>商品情報</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>商品画像</td>
				<td>商品名</td>
				<td>商品金額</td>
				<td>アーティスト名</td>
				<td>ジャンル名</td>
	　　　　  </tr>
	   </tbody>
　　</table>



<%= render 'footer'%>